.sidebar {
    flex: 2.5;
    height: 70vh;
    position: sticky;
    top : 50px;
    
   
    
   
     .sidebarList{
           padding: 20px;
           margin: 0;
           list-style: none;

           .sidebarListItem{
            display: flex;
            align-items: center;
            padding: 20px;
            border-radius: 30px;
            font-weight: 500;
            cursor: pointer;

           .sidebarIcon {
            margin-right: 10px;
            font-size: 30px;
            color: #0073ffee;
                
           }

            
             .sidebarListItemText{
                font-size: 18px;
                font-weight: 500;
                margin-left: 15px;
                
             }

             &:hover{
                background-color: #0073ff75;
                color: white;
                
             }
           }
     }
     .logout {
        padding: 20px;
        margin: 0;
        list-style: none;

        .logoutItem {
        
            display: flex;
            align-items: center;
            padding: 20px;
            font-weight: 500;
            cursor: pointer;

        }
     }
}
@media only screen and (max-width: 992px){
    

        .sidebarList{
                display: block;
                

        .sidebarListItem{
            display: none;
        }
        .sidebarListItemText {
            display: none;
        }
        &:hover {
            display: block;
            background-color: #0073ff75;
            color: white;
        }
    }
}

   


