.setting{
  background-color: white;
.containerstg{
  display: flex;
  flex-direction:row;
  width: 100vw;
  height: 800px;
  background:lightgrey ;
  color:black ;
  padding-top: 50px;
  padding-left: 300px;
  word-break: break-all;
  border: 1px solid ;
  justify-content: space-evenly;
  cursor: pointer;
  float: center;
}
.Tableft {
    display: flex;
    flex:0.5;
    background-color: #aba8a8;
  }
.Tabright{
    display: flex;
    flex: 4;
}
.btn{
    float: inline-end;
}
.tabs {
    text-align: left;
    width: 50px;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .act{
    text-align: center;
  }
  .save-button:hover{
    background-color: rgb(47, 206, 47);
    color: black;
  }
  .cancel-button:hover{
    background-color: rgb(206, 47, 47);
    color: black;
  }
  #side_button{
    width: 150px;
  }
}